.chat-main
  .header
    .header-leftbox
      %h2.current-group
        =@group.name
      %ul.member-list
        -# = group_user.user_id
        Member:
        - @group.users.each do |user|
          %li.member= user.name
    = link_to "#" do
      .edit-btn
        =link_to "Edit", edit_group_path(@group)

  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'new-message', placeholder: 'type a message'
      .input
        = f.label :image, class: 'input-text' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: "submit-btn"